/*navbar*/
#myNavbar li a:hover{
	background-color: #66B2FF;
}
.navbar-inverse {
	background: #2c3e50;
}
.navbar-inverse .navbar-nav>li>a {
	color: white;
}
.navbar-inverse .navbar-brand {
	color: white;
}
/*header*/

header {
	background:url("https://images.unsplash.com/photo-1450149632596-3ef25a62011a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5d5892d567b71e916212fa0f5c7a4420");
	background-attachment: scroll;
	background-position: center top;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
	text-align:center;
	color:#fff;
}

header .intro-text {
	padding-top:300px;
	padding-bottom:250px;
}
header .intro-text .intro-lead-in {
	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style:italic;
	font-size:22px;
	line-height:22px;
	margin-bottom:25px;
}

header .intro-text .intro-heading {
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700;
	font-size:50px;
	line-height:50px;
	margin-bottom:25px
}

header a:hover {
	text-decoration: none;
}

/*section*/

section {
	padding: 100px 0;
}

section h2.section-heading {
	font-size:40px;
	margin-top:0;
	margin-bottom:15px;
}

section h3.section-subheading {
	font-size:16px;
	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:none;
	font-style:italic;
	font-weight:400;
	margin-bottom:75px
}

section .section-color {
	color: #777;
}

/*section 1 me*/

.me-heading {
	margin:15px 0;
	text-transform:none
}

.me-color {
	color: #555;
}

/*section-2 my work*/
#work a:hover {
	text-decoration: none;
}
/*section-3 my hobby*/

#myCarousel div.carousel-inner .item {
	margin: 0;
}

#myCarousel div.carousel-inner img {
	width: 800px;
	height: 500px;
	margin: auto;
}

#myCarousel div.carousel-inner h3 {
	color: floralwhite;
	font-family: sans-serif;
}

#myCarousel div.carousel-inner p {
	color: floralwhite;
}

/*footer*/

footer {
	padding:25px 0;
	text-align:center
}

ul.social-buttons li a {
	display:block;
	background-color:#222;
	height:40px;
	width:40px;
	border-radius:100%;
	font-size:20px;
	line-height:40px;
	color:#fff;
	outline:0;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s
}

ul.social-buttons li a:hover {
	background-color:#fed136
}

/*modal page*/

.lr {
	height:75px;
	width:1px;
	margin-left:35px;
	background-color:#222;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	z-index:1051
}

.rl {
	height:75px;
	width:1px;
	background-color:#222;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	z-index:1052
}

/*battleship game*/

#game .battleship {
	position: relative;
	background-image: url("../homepage/images/board.jpg");
	/*width: 1024px;*/
	/*!*1024*!*/
	/*height: 863px;*/
	/*!*863*!*/
	width:512px;
	height:440px;
	background-size: 512px 431px;
	margin: auto;
}

#game .battleship #messageView {
	position: absolute;
	top: 0;
	left: 0;
	margin: 5px;
	color: white;
	font-size: 20px;
}

#game .battleship table{
	border-spacing: 0;
	/* could use border-collapse instead */
	/* border-collapse: collapse; */
	position: absolute;
	/*after absolute, we can set the position*/
	/*left: 173px;*/
	/*top: 98px;*/
	left:86px;
	top:50px;
}

#game .battleship td {
	/*width: 95px;*/
	/*height: 95px;*/
	width:48px;
	height:48px;
}

#game form {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 3px;
	margin: 0;
	background-color: darkgreen;
}

#game form input{
	font-size: 0.8em;
	background-color: lightcyan;
}

#game .hit {
	background: url("../homepage/images/ship.png") no-repeat center center;
	background-size:35px 20px;
}

#game .miss {
	background: url("../homepage/images/miss.png") no-repeat center center;
	background-size:35px 20px;
}

.done-true {
	text-decoration: line-through;
	color:grey;
}

/*comics*/

/*nba*/

.nba-star img {
	width: 256px;
	height: 192px;
	float: right;
	border-radius: 20px;
}

/*fitness*/

/*footer*/
footer {

}










