<!--HTML5-->
<!DOCTYPE html>
<!--lang attribute-->
<html lang="en">

<head>
	<!--correct character set-->
	<meta charset="utf-8">
	<!--sets the width of the page to follow the screen-width of the device, -->
	<!--sets the initial zoom level when the page is first loaded by the browser-->
	<meta name="author" content="albert_wang">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>AlSpace</title>

	<!-- Updated Bootstrap Core CSS 3.3.6-->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!--Custom css-->
	<link rel="stylesheet" href="assets/css/scrolling-nav.css">
	<link rel="stylesheet" type="text/css" href="assets/css/index.css">

	<!-- Updated Custom font 4.5.0-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body id="page-top">

	<div class="navigation">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--hamburger-->
					<a class="navbar-brand page-scroll menuButton" href="#page-top" id="navbar_head"><i class="fa fa-fort-awesome"></i> AlSpace</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="page-scroll menuButton" href="#me">Me</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle menuButton" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Work <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<!--<li><a href="#work" class="menuButton">Academy Website</a></li>-->
								<li><a href="#mockInterview" class="page-scroll menuButton">Modified MI (AngularJS)</a></li>
								<li><a href="#soundEffect" class="page-scroll menuButton">Sound Effect (paper.js, howler.js)</a></li>
								<li><a href="#colorGame" class="page-scroll menuButton">Color Game</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#battleShipGame" class="page-scroll menuButton">Battle-ship Game</a></li>
								<li><a href="#todos" class="page-scroll menuButton">Todo-list (jQuery)</a></li>
								<li><a href="#todos2" class="page-scroll menuButton">Todo-list (AngularJS)</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#scoreKeeper" class="page-scroll menuButton">Score Keeper</a></li>
								<li><a href="#blog" class="page-scroll menuButton">Blog</a></li>
							</ul>
						</li>
						<li>
							<a class="page-scroll menuButton" href="#hobby">My Hobbies</a>
						</li>
					</ul>
					<!--<ul class="nav navbar-nav navbar-right">-->
						<!--<li>-->
							<!--<a class="page-scroll" href="#">Sign Up</a>-->
						<!--</li>-->
						<!--<li>-->
							<!--<a class="page-scroll" href="#">Login</a>-->
						<!--</li>-->
					<!--</ul>-->
				</div>
			</div>
		</nav>
	</div>

	<!-- Header -->

	<header>
		<div class="container">
			<div class="intro-text text-center">
				<div class="intro-lead-in"><i class="fa fa-fort-awesome"></i> Welcome To My World!</div>
				<div class="intro-heading">It's Nice To Meet You</div>
				<button class="btn btn-default btn-lg page-scroll"><a href="#me">More About Me</a></button>
			</div>
		</div>
	</header>

	<!--section 2 me-->

	<section id="me">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-12">
					<h2 class="section-heading text-uppercase">About me</h2>
					<h3 class="section-subheading section-color">Work hard, play hard</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 text-left">
					<h3 class="me-heading">I am looking for a job!</h3>
					<p class="me-color">Hi! Welcome to my homepage. <br>
						I recently graduated from Electrical
						Engineering department, San Jose State University. <br>
						Now, I am a passionate full stack web developer who loves to try all the creative things. <br>
						I love all kinds of sports, reading comics, and working out.
					</p>
				</div>
				<div class="col-md-6 text-left">
					<!--<button><a href="doc/albert_resume_v6.pdf"><h2>resume</h2></a></button>-->
					<h3 class="me-heading">I am from Beijing, China</h3>
					<p class="me-color">
						I am a Beijinger who can speak Mandarin and Beijinghua.
						<br>
						I love the city, I wish you the best!
					</p>
					<p class="beiJingLogoFoggy">BEIJING</p>
					<p class="beiJingLogo">BEIJING</p>
				</div>
			</div>
		</div>
	</section>

	<!--section 2 My Work-->

	<section id="work" class="section-2">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-12">
					<h2 class="section-heading text-uppercase">My Work</h2>
					<h3 class="section-subheading section-color">A few projects I set up.</h3>
				</div>
			</div>
			<div class="row text-center" id="gallery">
				<!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
					<!--<a href="http://focuskpiwebdev.github.io/focusKPIAcademy" id="academyWebsite">-->
						<!--<div class="thumbnail">-->
							<!--<img src="https://images.unsplash.com/photo-1454165205744-3b78555e5572?dpr=1&fit=crop&fm=jpg&h=720&q=50&w=960" alt="">-->
								<!--<p>Academy Website</p>-->
						<!--</div>-->
					<!--</a>-->
				<!--</div>-->
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<a href="assets/html/mockInterview.html" id="mockInterview">
						<div class="thumbnail">
							<img src="images/mockInterview.png" alt="">
							<p>Modified MI (AngularJS)</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<a href="assets/html/soundEffect.html" id="soundEffect">
						<div class="thumbnail">
							<img src="images/soundEffect.jpg" alt="">
							<p>Sound Effect (paper.js, howler.js)</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<a href="assets/html/colorGame.html" id="colorGame">
						<div class="thumbnail">
							<img src="images/colorGame.png" alt="">
							<p>Color Game</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<a href="#game" data-toggle="modal" id="battleShipGame">
						<div class="thumbnail">
							<img src="https://images.unsplash.com/photo-1457694716743-eb419114c894?dpr=1&fit=crop&fm=jpg&h=720&q=50&w=960" alt="">
							<p>Battle-ship Game</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<a href="assets/html/todos.html" id="todos">
						<div class="thumbnail">
							<img src="images/todos.png" alt="">
							<p>Todo-list (jQuery)</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<a href="#todolist" data-toggle="modal" id="todos2">
						<div class="thumbnail">
							<img src="https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?dpr=1&fit=crop&fm=jpg&h=720&q=50&w=960" alt="">
							<p>Todo-list (AngularJS)</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<a href="assets/html/scoreKeeper.html" id="scoreKeeper">
						<div class="thumbnail">
							<img src="images/scoreKeeper.png" alt="">
							<p>Score Keeper</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<a href="assets/html/blog.html" id="blog">
						<div class="thumbnail">
							<img src="images/blog.jpg" alt="">
							<p>Blog</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>


	<!--section 3 My Hobbies-->

	<section id="hobby" class="section-3">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-12">
					<h2 class="section-heading text-uppercase">My Hobbies</h2>
					<h3 class="section-subheading section-color">A few things I like to do</h3>
				</div>
			</div>
		</div>
			<!--<div class="row text-center">-->
				<!--<div class="col-lg-12">-->
					<!--<div class="picture_slide">-->
						<div id="container">
								<div id="myCarousel" class="carousel slide" data-ride="carousel">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
										<li data-target="#myCarousel" data-slide-to="1"></li>
										<li data-target="#myCarousel" data-slide-to="2"></li>
										<!--<li data-target="#myCarousel" data-slide-to="3"></li>-->
									</ol>

									<!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox">
										<div class="item active">
											<a href="#comics" data-toggle="modal">
												<img src="images/onePiece.jpg" alt="">
											</a>
											<div class="carousel-caption">
												<h3>Comics</h3>
												<p>Enjoy staying in One Piece world</p>
											</div>
										</div>
										<div class="item">
											<a href="#nba" data-toggle="modal">
												<img src="images/kobeNew.jpg" alt="">
											</a>
											<div class="carousel-caption">
												<h3>Basketball</h3>
												<p>Kobe made me tough</p>
											</div>
										</div>
										<div class="item">
											<a href="#fitness" data-toggle="modal">
												<img src="images/fitness.jpg" alt="">
											</a>
											<div class="carousel-caption">
												<h3>Fitness</h3>
												<p>Exercise and get stronger</p>
											</div>
										</div>
									</div>

									<!-- Left and right controls -->
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
										<span class="icon-prev" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
										<span class="icon-next" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
								</div>
							</div>
						</div>
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->

	</section>


	<!--footer-->

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>
				<div class="col-md-4 icons">
					<ul class="list-inline social-buttons">
						<li><a href="https://www.instagram.com/crazeeael/"><i class="fa fa-instagram"></i></a>
						</li>
						<li><a href="https://www.facebook.com/boyang.wang.71"><i class="fa fa-facebook"></i></a>
						</li>
						<li><a href="https://www.linkedin.com/in/boyangwang"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

<!--multiple page in one page-->
	<!--battleship game-->

	<div id="game" class="modal">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="sub-title">
					<h2>Battle Ship Game</h2>
					<br>
					<h4>Game Explanation: </h4>
					<h4>
						There are <strong>3</strong> battleships randomly settled in the field.
					</h4>
					<h4>
						Each battleship has a length of <strong>3</strong> (e.g., a3, a4, a5 is a ship; b2, c2, d2 is a ship).
					</h4>
					<h4>
						Type table location (e.g., a1, b3) in the form and hit "Enter" to fire
					</h4>
					<br>
				</div>
				<div class="col-xs-12 col-md-offset-2 col-md-8">
					<div class="battleship">
						<div id="messageView"></div>
						<!--messageView is a ID, not a class-->
						<table>
							<tr>
								<td id="00"></td> <td id="01"></td> <td id="02"></td> <td id="03"></td>
								<td id="04"></td> <td id="05"></td> <td id="06"></td>
							</tr>
							<tr>
								<td id="10"></td> <td id="11"></td> <td id="12"></td> <td id="13"></td>
								<td id="14"></td> <td id="15"></td> <td id="16"></td>
							</tr>
							<tr>
								<td id="20"></td> <td id="21"></td> <td id="22"></td> <td id="23"></td>
								<td id="24"></td> <td id="25"></td> <td id="26"></td>
							</tr>
							<tr>
								<td id="30"></td> <td id="31"></td> <td id="32"></td> <td id="33"></td>
								<td id="34"></td> <td id="35"></td> <td id="36"></td>
							</tr>
							<tr>
								<td id="40"></td> <td id="41"></td> <td id="42"></td> <td id="43"></td>
								<td id="44"></td> <td id="45"></td> <td id="46"></td>
							</tr>
							<tr>
								<td id="50"></td> <td id="51"></td> <td id="52"></td> <td id="53"></td>
								<td id="54"></td> <td id="55"></td> <td id="56"></td>
							</tr>
							<tr>
								<td id="60"></td> <td id="61"></td> <td id="62"></td> <td id="63"></td>
								<td id="64"></td> <td id="65"></td> <td id="66"></td>
							</tr>
						</table>
						<form>
							<input type="text" id="guessInput" placeholder="A0">
							<input type="button" id="fireButton" value="Fire!">
						</form>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-primary closeButton" data-dismiss="modal">
				<i class="fa fa-times"></i> Close Project
				<!--i fa fa-times -> font awesome icon x-->
			</button>
		</div>
	</div>

	<!--todolist-->

	<div id="todolist" class="modal">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="text-center">
					<h2>To Do List</h2>
				</div>
				<div class="col-sm-12 col-md-offset-3 col-md-6">
					<div ng-app="first" ng-controller="todoCtrl">
						<h2>Total todos: {{getTotalTodos()}}</h2>
						<ul class="unstyled">
							<li ng-repeat="todo in todos">
								<input type="checkbox" ng-model="todo.done">
								<!--add checkbox-->
								<span class="done-{{todo.done}}">{{todo.text}}</span>
								<!--make line-through decoration for the line-->
							</li>
						</ul>
						<form class="form-horizontal">
							<input type="text" ng-model="formTodoText" ng-model-instant>
							<button class="btn" ng-click="addTodo()"><i class="icon-plus"></i>Add</button>
						</form>
						<button class="btn-large" ng-click="clearCompleted()"><i class="icon-trash"></i>Clear Completed</button>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-primary closeButton" data-dismiss="modal">
				<i class="fa fa-times"></i> Close Project
				<!--i fa fa-times -> font awesome icon x-->
			</button>
		</div>
	</div>

	<!--comics-->

	<div id="comics" class="modal">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="main-title">
					<h1>Comics</h1>
				</div>
				<div class="sub-title">
					<h3>One piece is one of my favorite Comics and the only one I am still following.</h3>
				</div>
			</div>
			<button type="button" class="btn btn-primary closeButton" data-dismiss="modal">
				<i class="fa fa-times"></i> Close Project
				<!--i fa fa-times -> font awesome icon x-->
			</button>
		</div>
	</div>

	<!--nba-->

	<div id="nba" class="modal">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="main-title">
					<h1>NBA</h1>
				</div>
				<div class="sub-title">
					<h3>I love watching and playing basketball. My idol is Kobe Bryant.</h3>
				</div>
				<div class="nba-star">
					<div class="row">
						<div class="col-sm-12">
							<h3>Kobe Message</h3>
							<p>Dear Basketball,<br>
								From the moment <br>
								I started rolling my dad’s tube socks <br>
								And shooting imaginary <br>
								Game-winning shots... <br>
								In the Great Western Forum <br>
								I knew one thing was real: <br> <br>
								I fell in love with you. <br> <br>
								A love so deep I gave you my all — <br>
								From my mind & body <br>
								To my spirit & soul. <br> <br>
								As a six-year-old boy <br>
								Deeply in love with you <br>
								I never saw the end of the tunnel. <br>
								I only saw myself <br>
								Running out of one. <br> <br>
								And so I ran. <br>
								I ran up and down every court <br>
								After every loose ball for you. <br>
								You asked for my hustle <br>
								I gave you my heart <br>
								Because it came with so much more. <br> <br>
								I played through the sweat and hurt <br>
								Not because challenge called me <br>
								But because YOU called me. <br>
								I did everything for YOU <br>
								Because that’s what you do <br>
								When someone makes you feel as <br>
								Alive as you’ve made me feel. <br> <br>
								You gave a six-year-old boy his Laker dream <br>
								And I’ll always love you for it. <br>
								But I can’t love you obsessively for much longer. <br>
								This season is all I have left to give. <br>
								My heart can take the pounding <br>
								My mind can handle the grind <br>
								But my body knows it’s time to say goodbye. <br> <br>
								And that’s OK. <br>
								I’m ready to let you go. <br>
								I want you to know now <br>
								So we both can savor every moment we have left together. <br>
								The good and the bad. <br>
								We have given each other <br>
								All that we have. <br> <br>
								And we both know, no matter what I do next <br>
								I’ll always be that kid <br>
								With the rolled up socks <br>
								Garbage can in the corner <br>
								:05 seconds on the clock <br>
								Ball in my hands. <br>
								5 … 4 … 3 … 2 … 1 <br> <br>
								Love you always, <br>
								Kobe <br>
							</p>
						</div>
						<div class="col-sm-12">
							<img src="images/kobe.jpg" alt="kobe">
							<h3>My Message</h3>
							<p>To my hero Kobe, <br>
								I started to follow you when <br>
								I was in the middle school. <br>
								I was a skinny and ignorant boy <br>
								who didn't know much about basketball <br>
								but liked to watch you play.<br>
								From that time...
							</p>
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-primary closeButton" data-dismiss="modal">
					<i class="fa fa-times"></i> Close Project
					<!--i fa fa-times -> font awesome icon x-->
				</button>
			</div>
		</div>
	</div>

	<!--fitness-->

	<div id="fitness" class="modal">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="main-title">
					<h1>Fitness</h1>
				</div>
				<div class="sub-title">
					<h3>I wanna build 8 packs of abs.</h3>
				</div>
				<button type="button" class="btn btn-primary closeButton" data-dismiss="modal">
					<i class="fa fa-times"></i> Close Project
					<!--i fa fa-times -> font awesome icon x-->
				</button>
			</div>
		</div>
	</div>

	<!-- updated jQuery 2.2.1 -->
	<script src="assets/js/lib/jquery-2.2.1.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- Scrolling Nav JavaScript -->
	<script src="assets/js/lib/jquery.easing.min.js"></script>
	<script src="assets/js/lib/scrolling-nav.js"></script>

	<!-- Angular JavaScript -->
	<script src="assets/js/lib/angular.min.js"></script>

	<!--Custom JavaScript-->
	<script src="assets/js/index.js"></script>
	<script src="assets/js/battleship.js"></script>
	<script src="assets/js/todo.js"></script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-75160529-1', 'auto');
		ga('send', 'pageview');

	</script>
</body>

</html>
