/*section 1 Main-page*/
/*navbar*/
.navigation {
	position: fixed;
	z-index: 20;
	width: 100%;
}

.navbar-brand {
	font-family: serif;
}

/*div .active {*/
	/*color:lightcyan;*/
/*}*/

/*#myCarousel div.item-active {*/
	/*width:480px;*/
	/*height:360px;*/
/*}*/

#myCarousel div.carousel-inner .item {
	margin: 50px 0 0 0;
}

#myCarousel div.carousel-inner img {
	width: 640px;
	height: 480px;
	margin: auto;
}

#myCarousel div.carousel-inner h3 {
	color: floralwhite;
	font-family: sans-serif;
}

#myCarousel div.carousel-inner p {
	color: floralwhite;
}
/*main-title and sub-title*/
.main-title h1{
	color: darkslateblue;
	margin: 100px;
	text-align: center;
}
.sub-title {
	color: cornflowerblue;
	margin: 80px;
	text-align: center;
}
/*section-2 about-me*/
#me .sub-title {
	text-align: left;
}
/*section-3 comics*/

/*section-4 hometown*/

/*section-5 nba*/
.nba-star img {
	width: 256px;
	height: 192px;
	float: right;
	border-radius: 20px;
}
/*section-6 fitness*/

/*section-2+ My Game*/



/*sub-page-5 nba*/


/*sub-page-2+ My Game*/
#game .battleship {
	position: relative;
	background-image: url("homepage/images/board.jpg");
	width: 1024px;
	height: 863px;
	margin: auto;
}

#game .battleship #messageView {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 5px;
	color: white;
	font-size: 30px;
}

#game .battleship table{
	 border-spacing: 0px;
	 /* could use border-collapse instead */
	 /* border-collapse: collapse; */
	 position: absolute;
	 /*after absolute, we can set the position*/
	 left: 173px;
	 top: 98px;
}

#game .battleship td {
	width: 95px;
	height: 95px;
}

#game form {
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 5px;
	margin: 5px;
	background-color: blue;
}

#game form input{
	font-size: 1em;
	background-color: lightcyan;
}

#game .hit {
	background: url("homepage/images/ship.png") no-repeat center center;
}

#game .miss {
	background: url("homepage/images/miss.png") no-repeat center center;
}

.done-true {
	text-decoration: line-through;
	color:grey;
}










.funder.ul {
	float:left;
	padding:0;
	list-style-type:none;
}
.funder.ul.li img{
	float:left;
	padding:100px;
	margin:50px;
}
li {
	display:inline;
}
p.read {
	color: black;
	font-size: 30px;
	font-style: italic;
	font-family: sans-serif;
	text-align: center;
	background-image: url(images/orange-band.png);  padding: 80px; margin: 0px; 
	background-repeat:no-repeat;
}
a.gotoweb:link {
	color:black;
}
a.gotoweb:hover {
	color:red;
}

#header{
    width:980px;
    height:2000px;
    margin:0 auto;
    background-color:black;
}
#BottomNav{
    background-color:pink;
    height:20px;
    z-index: 20;
    position: fixed;
    top:0;
    right:0; 
    width: 80px;
    overflow: visible;
}
.nav{
	font-size:15px;
	font-family: sans-serif;
	text-align:left;
    margin:0;
}
ul.pagination{
	position:absolute;
	right:10px;
}