<!--HTML5-->
<!DOCTYPE html>
<!--lang attribute-->
<html ng-app="first">

<head>
    <!--correct character set-->
    <meta charset="utf-8">
    <meta name="author" content="albert_wang">
    <!--sets the width of the page to follow the screen-width of the device, -->
    <!--sets the initial zoom level when the page is first loaded by the browser-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Angular JavaScript -->
    <!--<script src="https://code.angularjs.org/angular-1.0.0rc3.min.js"></script>-->
    <script src="https://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>

<body>

<section id="work">
    <div class="container">
        <button>
            <a href="index.html"><h2>Go back</h2></a>
        </button>
        <div class="main-title">
            <h1>My Work</h1>
        </div>
        <div id="game">
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2>Battle Ship</h2>
                    <br>
                    <h3>Explanation: There are three battleships randomly settled in the field.
                        <br>
                        Each one has a length of 3 (Ex: a3, a4, a5 is one ship length).</h3>
                </div>
                <div class="battleship">
                    <div id="messageView"></div>
                    <!--messageView is a ID, not a class-->
                    <table>
                        <tr>
                            <td id="00"></td> <td id="01"></td> <td id="02"></td> <td id="03"></td>
                            <td id="04"></td> <td id="05"></td> <td id="06"></td>
                        </tr>
                        <tr>
                            <td id="10"></td> <td id="11"></td> <td id="12"></td> <td id="13"></td>
                            <td id="14"></td> <td id="15"></td> <td id="16"></td>
                        </tr>
                        <tr>
                            <td id="20"></td> <td id="21"></td> <td id="22"></td> <td id="23"></td>
                            <td id="24"></td> <td id="25"></td> <td id="26"></td>
                        </tr>
                        <tr>
                            <td id="30"></td> <td id="31"></td> <td id="32"></td> <td id="33"></td>
                            <td id="34"></td> <td id="35"></td> <td id="36"></td>
                        </tr>
                        <tr>
                            <td id="40"></td> <td id="41"></td> <td id="42"></td> <td id="43"></td>
                            <td id="44"></td> <td id="45"></td> <td id="46"></td>
                        </tr>
                        <tr>
                            <td id="50"></td> <td id="51"></td> <td id="52"></td> <td id="53"></td>
                            <td id="54"></td> <td id="55"></td> <td id="56"></td>
                        </tr>
                        <tr>
                            <td id="60"></td> <td id="61"></td> <td id="62"></td> <td id="63"></td>
                            <td id="64"></td> <td id="65"></td> <td id="66"></td>
                        </tr>
                    </table>
                    <form>
                        <input type="text" id="guessInput" placeholder="A0">
                        <input type="button" id="fireButton" value="Fire!">
                    </form>
                </div>
            </div>
        </div>
        <div id="todolist">
            <div class="container">
                <div class="sub-title">
                    <h2>To Do List</h2>
                </div>
                <div ng-controller="todoCtrl">
                    <h2>Total todos: {{getTotalTodos()}}</h2>
                    <ul class="unstyled">
                        <li ng-repeat="todo in todos">
                            <input type="checkbox" ng-model="todo.done">
                            <!--add checkbox-->
                            <span class="done-{{todo.done}}">{{todo.text}}</span>
                            <!--make line-through decoration for the line-->
                        </li>
                    </ul>
                    <form class="form-horizontal">
                        <input type="text" ng-model="formTodoText" ng-model-instant>
                        <button class="btn" ng-click="addTodo()"><i class="icon-plus"></i>Add</button>
                    </form>
                    <button class="btn-large" ng-click="clearCompleted()"><i class="icon-trash"></i>Clear Completed</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="javascript/battleship.js"></script>
<script src="javascript/todo.js"></script>
</body>
</html>