/*non-bootstrap version*/
body {
    background: #333333;
    margin: 0;
    font-family: "Montserrat","Avenir";
}
.square {
    width: 30%;
    background: pink;
    margin: 1.66%;
    float: left;
    padding-bottom: 30%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    /*sefari*/
    -moz-transition: background 0.6s;
    /*mozilla*/
}
#container {
    max-width: 600px;
    margin: 20px auto;
}
h1 {
    text-align: center;
    line-height: 1.1;
    color: white;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}
#colorDisplay {
    font-size: 2em;
}
@media (max-width:550px){
    #colorDisplay {
        font-size: 1em;
    }
}
span {
    color: white;
}
#judge {
    color:black;
    width: 20%;
    display: inline-block;
}
.row {
    background: white;
    height:30px;
    text-align:center;
}
.selected {
    color: white;
    background: steelblue;
}
button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    outline: none;
    /*remove the button outline*/
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    /*sefari*/
    -moz-transition: all 0.3s;
}
button:hover {
    color: white;
    background: steelblue;
}